@import '../variables.scss';

.blog {
    &__title {
        @include size(60);
        text-align: center;
        margin: 120px 0px 40px 0px;
        white-space: nowrap;

        @media screen and (min-width: $tablet) {
            @include size(68);
        }

        &--lilac {
            color: $lilac;
        }
    }
}