@import '../variables.scss';

.projects {
    &__title {
        @include size(60);
        text-align: center;
        margin-bottom: 40px;
        white-space: nowrap;

        @media screen and (min-width: $tablet) {
            @include size(68);
        }

        &--lilac {
            color: $lilac;
        }
    }

    &__cards {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: minmax(auto, 400px);
        grid-gap: 32px;
        margin: 64px 32px;

        @media screen and (min-width: $smallDesktop) {
            grid-template-columns: minmax(auto, 400px) minmax(auto, 400px);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2px;
        border: 1px solid $white;    
    }
}

.card {
    &__text-container {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__image {
        width: 100%;
        height: auto;
        min-height: 280px;
        object-fit: cover;
    }

    &__title {
        padding: 12px;
        text-align: center;
    }

    &__content {
        margin: 0;
        padding: 14px;
        text-align: center;
    }

    &__links {
        display: flex;
    }

    &__link {
        margin: 20px;
        padding: 6px;
        text-decoration: none;
        background-color: $lilac;
        color: $black;
        border-radius: 4px;
        font-weight: bold;
    }

    &__code {
        display: flex;
    }
}

.code {
    &__link {
        margin: 20px;
        padding: 6px;
        text-decoration: none;
        color: $lilac;
        border-radius: 4px;
        border: solid 1px $white;
        font-weight: bold;
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  
    &__spinner {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
  
        &:after {
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: 8px;
            box-sizing: border-box;
            border: 32px solid $black;
            border-color: $black transparent $black transparent;
            animation: loader 1.2s infinite;
            background: $lilac;
        }
    }
  
    @keyframes loader {
        0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
            transform: rotate(1800deg);
        }
    }
}
