@import 'app/variables.scss';

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__intro {
        @include size(24);
        color: $white;
        text-align: center;
        width: 75vw;
        height: 100%;

        @media screen and (min-width: $smallDesktop) {
            @include size(32);
        }

        @media screen and (min-width: $largeDesktop) {
            margin-top: 40px;
        }

        &--lilac {
            color: #ecbcfd;
        }
    }
}