@import 'app/variables.scss';

.is-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    background: $lightBlack;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    &__image,
    &__title,
    &__text {
      background: #15202B;
      background: linear-gradient(110deg, #1a2631 8%, #233343 18%, #1a2631 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }

    &__content {
        padding: 20px 30px;
        width: 75%;
    }
  
    &__image {
      min-height: 280px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
      height: auto;
    }
  
    &__title,
    &__text {
      height: 30px;
    }
}
  
@keyframes shine {
    to {
        background-position-x: -200%;
    }
}