@import 'app/variables.scss';

.profile {
    display: flex;
    justify-content: center;
    margin: 160px 40px 40px 40px;

    &__image {
        width: 80%;
        height: auto;
        border-radius: 50%;
        background-color: $white;
        padding: 1%;

        @media screen and (min-width: $tablet) {
            width: 40%;
        }

        @media screen and (min-width: $smallDesktop) {
            width: 20%;
        }
    }
}